*, *:before, *:after { box-sizing: inherit; /*outline: none;*/ }
* { margin: 0; padding: 0; }
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  background: #fafafa;
  height: 100%;
}

.ql-syntax {
  color: #f8f8f2;
  background-color: #23241f;
  font-size: 14px;
  overflow-y: auto;
  padding: 5px 10px;
}